*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-image: url('../images/rectangle.png');
    background-size: cover;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
}
.cards h1{
    color: white;
    font-size: 1em;
    padding-bottom: 20px;
}
.card{
    width: 90%;
    height: 180px;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0;
}

.card img{
    padding: 6px;
    height: 100%;
}
.card .text{
    width: 60%;
    padding: 20px 0;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    font-size: .8em;
}
.card a{
    padding: 15px;
    text-decoration: underline;
}
.card a:hover{
    cursor: pointer;
}
